@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main {
  border: 5px solid greenyellow;
  width: 500px;
  height: 500px;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;

}
.box2 {
  width: 100px;
  height: 100px;
  background-color: rgb(115, 255, 0);
  line-height: 100px;
  text-align: center;
  position: absolute;
  left: 200px;
  bottom: 20px;
  top: 50px;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 111);
  line-height: 100px;
  text-align: center;
}
